---
layout: default
published: true
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date: "%d/%m/%Y" }}</span>
  {{ content }}
</div>

<div class="share-box">
  <span>Compartilhar: </span>
  
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{site.baseurl}}{{ page.url }}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" >
    <i class="fa fa-facebook-official fa share-button"></i>
  </a>
  
  <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{site.baseurl}}{{ page.url }}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
    <i class="fa fa-twitter fa share-button"></i>
  </a>
  
  <a href="https://plus.google.com/share?url={{ site.url }}{{site.baseurl}}{{ page.url }}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" >
    <i class="fa fa-google-plus fa share-button"></i>
  </a>

  <a href="http://www.reddit.com/submit?url={{ site.url }}{{site.baseurl}}{{ page.url }}" onclick="window.open(this.href, 'mywin',
                                                                                                   'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" >
    <i class="fa fa-reddit fa share-button"></i>
  </a>

  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{site.baseurl}}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source=webjeda" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" >
    <i class="fa fa-linkedin fa share-button"></i>
  </a>

  <a href="mailto:?subject={{ page.title }}&amp;body=Check out this site {{ site.url }}{{site.baseurl}}{{ page.url }}">
    <i class="fa fa-envelope fa share-button"></i>
  </a>
</div>

<div class="related">
  <h2>Tutoriais relacionados</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date: "%d/%m/%Y" }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
